<!-- This Modal Just redirects to the required registration views -->
<!-- Modal Structure -->
<div id="join_prompt" class="modal">
  <div class="modal-content">
    <p class="center">Congratulations on making this bold move! 🎉</p>
    <h6 class="center">Are you a lawyer?</h6>
  </div>
  <div class="modal-footer">
    <a href="/lawyers/register" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    <a href="/complainants/register" class=" modal-action modal-close waves-effect waves-blue btn-flat">No</a>
  </div>
</div>