<ul id="navigation" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="{{ url_for('static', filename='images/blue-darken.jpg') }}">
    </div>
    <a href="#user"><img class="circle" src="{{ url_for('static', filename='images/sample-user.jpg') }}"></a>
    <a href="#name"><span class="white-text name">John Doe</span></a>
    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li>
    <a href="#!" class="waves-effect">
      Launch Complaint
    </a>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Information Hub</a></li>
  <li>
    <a class="waves-effect" href="#!">
      <i class="material-icons">notifications_active</i>
      My Cases
    </a>
  </li>
  <li>
    <a class="waves-effect" href="#!">
      <i class="material-icons">library_books</i>
      Common Offences
    </a>
  </li>
  <li>
    <a class="waves-effect" href="#!">
      <i class="material-icons">star_rate</i>
      My Reviews
    </a>
  </li>
  <br>
  <br>
  <br>
  <li><div class="divider"></div></li>
  <li><a class="subheader center">&copy 2019 - Boda Justice</a></li>
</ul>