{% extends "base.html" %}
{% block body %}
<header>
  <nav class="nav-extended blue darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{ title }}</a>
      <a href="#" data-target="navigation" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right">
        <li>
          <a class="waves-effect waves-light btn white blue-text" id="btnAdd"><i class="material-icons left">archive</i>install</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  {% block main %}{% endblock %}
</main>

<footer>
  {% if landingpage %}
  <p>Hackathon Source code on <a href="https://github.com/boda-justice/boda-justice-frontend" target="_blank" rel="noopener">GitHub</a></p>
  {% endif %}
</footer>

{% endblock %}
