{% extends "base.html" %}
{% block body %}
<header>
  {% if logged_in %}
  <nav class="nav-extended blue darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{ title }}</a>
      <a href="#" data-target="navigation" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% endif %}
</header>

<main>
  {% block main %}{% endblock %}
</main>

<footer>
  <a class="waves-effect waves-light btn white blue-text" id="btnAdd" style="display:none"><i class="material-icons left">archive</i>install</a>
  {% if not logged_in %}
  <p class="center">Hackathon Source code on <a href="https://github.com/boda-justice/boda-justice-frontend" target="_blank" rel="noopener">GitHub</a></p>
  {% endif %}
</footer>

{% endblock %}
